[submodule "tests/googletests"]
	path = external/googletest
	url = ../../google/googletest.git
[submodule "external/matplot"]
	path = external/matplot
	url = git@github.com:alandefreitas/matplotplusplus.git
